@import "./mixins.scss";
@import "./screens.scss";

.button{
    min-width: 5.5rem;
    padding: 0.5rem 0.3rem;
    cursor: pointer;
    background-color: rgb(92, 202, 245);
    border-radius: 4px;
    border: none;
    outline: none;
    color: white;
    outline: none;

        &:hover{
        background-color: rgb(142, 236, 248);
    }

    &.second-btn{
        background-color: #ff3333;
        &:hover{
            background-color: #ff6666;
        }
    }

    &.loading{
        cursor: default;
        pointer-events: none;
    }

    &.disable{
        opacity: 50%;
        cursor: default;
        pointer-events: none;
    }
    &.faded{
        opacity: 50%;
        cursor: default;
        pointer-events: none;
        background-color: gray;
    }
}
